{{!-- Navigation bar --}}

<nav class="navbar d-flex flex-row justify-content-around fixed-bottom navbar-expand-lg navbar-light bg-light mt-2">
    <div class="navbar-nav d-flex flex-row justify-content-around">
      <div class="px-4"><a class="nav-item nav-link active" href="https://bubble-belly.herokuapp.com/{{user._id}}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="https://bubble-belly.herokuapp.com/{{user._id}}/food"><i class="fas fa-utensils"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-calendar-day"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="https://bubble-belly.herokuapp.com/{{user._id}}/profile"><i class="fas fa-user"></i></a></div>
    </div>
  </div>
</nav>

{{!-- Main section --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <div class="row">
      <p class="ml-3 mb-4" id="jumbotron-welcome">Food search</p>
    </div>
  </div>
</div>

{{!-- Search input --}}

<div class="container">
  <div class="row d-flex flex-column justify-content-center align-item-center" id="search-form">
    <form action="/user/food/search" method="GET" class="mb-3 d-flex flex-column justify-content-center align-item-center align-self-center" autocomplete="off">  
      <div class="form-group d-flex flex-column justify-content-center align-item-center align-self-center">
        <label for="foodSearch"><i class="fas fa-search"></i>Search food</label>
        <input name="foodSearch" type="text" class="form-control {{#if error.email }}is-invalid{{/if}}" id="foodSearch"
          placeholder="Enter food to search" value="">
        {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email}}
        </div>
        {{/if}}
      </div>
      <div class="row d-flex flex-column justify-content-center align-item-center align-self-center">
        <button type="submit" class="btn-main">Search</button>
      </div>
    </form>
  </div>
</div>


{{#if foodResponse}}
  {{#if recommended}}
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 food-recomendation recomended d-flex justify-content-center align-items-center">
          <i class="fas fa-check-circle"></i>
          <p>Recommended</p>
        </div>
      </div>
    </div>
  {{else}}
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 food-recomendation warning d-flex justify-content-center align-items-center">
          <i class="fas fa-times-circle"></i>
          <p>Warning</p>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

{{#if foodResponse}}
  <div class="row d-flex justify-content-center align-items-center">
    <p class="h5 my-5 foods-query">Recipes</p>
  </div>
{{/if}}

<div class="container" id="food-recipes">
    <div class="row d-flex justify-content-center align-items-center" id="food-recipes-row">
      {{#each recipeResponse as |response|}}
        <a href="{{response.recipe.url}}">
          <div class="card-container col-sm-6 my-3">
            <div class="card">
              <img src="{{response.recipe.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{response.recipe.label}}</h5>
                </div>
            </div>
          </div>
        </a>
      {{/each}}
</div>