{{!-- Navigation bar --}}

<nav class="navbar d-flex flex-row justify-content-around fixed-bottom navbar-expand-lg navbar-light bg-light mt-2">
    <div class="navbar-nav d-flex flex-row justify-content-around">
      <div class="px-4"><a class="nav-item nav-link active" href="http://localhost:3000/home/{{user._id}}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="http://localhost:3000/user/{{user._id}}/food"><i class="fas fa-utensils"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-calendar-day"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="http://localhost:3000/user/{{user._id}}/profile"><i class="fas fa-user"></i></a></div>
    </div>
  </div>
</nav>

{{!-- Main section --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <div class="row">
      <p class="ml-3 mb-4" id="jumbotron-welcome">Food search</p>
    </div>
  </div>
</div>

{{!-- Search input --}}

<div class="container">
  <div class="row" id="search-form">
    <form action="/user/food/search" method="GET" class="mb-3 d-flex flex-column align-self-center" autocomplete="off">  
      <div class="form-group d-flex flex-column align-self-center">
        <label for="foodSearch"><i class="fas fa-search"></i>Search food</label>
        <input name="foodSearch" type="text" class="form-control {{#if error.email }}is-invalid{{/if}}" id="foodSearch"
          placeholder="Enter food to search" value="">
        {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email}}
        </div>
        {{/if}}
      </div>
      <div class="row d-flex flex-column align-self-center">
        <button type="submit" class="btn-main">Search</button>
      </div>
    </form>
  </div>
</div>


{{#if recommended}}
  <p class="h3">What you searched for is: {{foodResponse.[0].food.label}} <span class="badge badge pill badge-success">Recommended</span></p>
{{else}}
  <p class="h3">What you searched for is: {{foodResponse.[0].food.label}} <span class="badge badge pill badge-warning">Warning</span></p>
{{/if}}

<p class="h4">{{recipeResponse.[0].recipe.label}}</p>
<img src="{{recipeResponse.[0].recipe.image}}" class="img-thumbnail">

{{!-- <div class="container" id="food-recipes">
  {{#each recipeResponse}}
    <div class="row" id="food-recipes-row">
        <div class="card-container col-sm-6 my-2">
          <div class="card">
            <img src="{{recipeResponse.[0].recipe.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{recipeResponse.[0].recipe.label}}</h5>
              </div>
          </div>
        </div>
  {{/each}}
</div> --}}