{{!-- Navigation bar --}}

<nav class="navbar d-flex flex-row justify-content-around fixed-bottom navbar-expand-lg navbar-light bg-light mt-2">
    <div class="navbar-nav d-flex flex-row justify-content-around">
      <div class="px-4"><a class="nav-item nav-link active" href="http://localhost:3000/home/{{user._id}}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="http://localhost:3000/user/{{user._id}}/food"><i class="fas fa-utensils"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-calendar-day"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="http://localhost:3000/user/{{user._id}}/profile"><i class="fas fa-user"></i></a></div>
    </div>
  </div>
</nav>

{{!-- Main section --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <div class="row">
      <p class="ml-3 mb-4" id="jumbotron-welcome">Welcome, {{user.name}}</p>
    </div>
    <hr class="my-1 mx-2">
    <div class="row main">
      <div class="col" id="jumbotron-first-column">
        <p class="text-left my-4"><i class="fas fa-tape"></i>{{babySize}} cm.</p>
        <p class="text-left my-4"><i class="fas fa-baby"></i>{{babyWeight}} gr.</p>
      </div>
      <div class="col" id="jumbotron-second-column">
        <p class="text-left my-4 sizes-info"><i class="fas fa-circle-notch"></i>{{user.bellyDiameter}} cm.</p>
        <p class="text-left my-4 sizes-info"><i class="fas fa-weight"></i>{{user.weight}} gr.</p>
        <p class="text-left my-4 week">{{user.babyAge}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="babysize-home">
    <h4>Baby size / Events</h4>
    <div class="row">
      <div class="col-4 white-card d-flex flex-column justify-content-center align-items-center">
          <i class="icon-{{size}} ico-font"></i>
          <p class="size">{{size}}</p>
      </div>
      <div class="col-6 white-card">
        <div class="d-flex justify-content-between align-items-center">
          <p class="thin">Cita ecografía</p>
          <i class="fas fa-edit edit"></i>
        </div>
        <p>14:30</p>
        <div class="d-flex justify-content-center align-items-center">
            <i class="fas fa-circle dotted"></i>
            <i class="fas fa-circle dotted clear"></i>
            <i class="fas fa-circle dotted clear"></i>
        </div>
      </div>
    </div>
  </div>

<div class="container" id="recommended-recipes">
  <h4>Recommended recipes</h4>
  <div class="row" id="recommended-recipes-row">
    <div class="card-container col-sm-6 my-2">
      <div class="card">
        <img src="https://www.simplyrecipes.com/wp-content/uploads/2014/05/guacamole-horiz-a-1600.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Guacamole</h5>
          </div>
      </div>
    </div>
    <div class="card-container col-sm-6 py-1">
      <div class="card">
        <img src="https://www.simplyrecipes.com/wp-content/uploads/2014/05/guacamole-horiz-a-1600.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Guacamole</h5>
          </div>
      </div>
    </div>
  </div>
</div>

