{{!-- Navigation bar --}}

<nav class="navbar d-flex flex-row justify-content-around fixed-bottom navbar-expand-lg navbar-light bg-light mt-2">
    <div class="navbar-nav d-flex flex-row justify-content-around">
      <div class="px-4"><a class="nav-item nav-link active" href="http://localhost:3000/user/{{user._id}}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-utensils"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-calendar-day"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-user"></i></a></div>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <div class="row">
      <p class="ml-3 mb-4" id="jumbotron-welcome">Profile</p>
    </div>
  </div>
</div>


<form action="/user/profile" method="PUT" class="d-flex flex-column align-self-center" id="profile-form">
  <div class="form-group d-flex flex-column align-self-center">
    <label for="name"><i class="fas fa-font"></i>Name</label>
    <input name="name" type="text" class="form-control {{#if error.name }}is-invalid{{/if}}" id="name"
      placeholder="Enter name" value="{{ user.name }}">

    {{#if error.name}}
    <div class="invalid-feedback">
      {{error.name.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group d-flex flex-column align-self-center">
    <label for="username"><i class="fas fa-user"></i>Username</label>
    <input name="username" type="text" class="form-control {{#if error.username }}is-invalid{{/if}}" id="username"
      placeholder="Enter username" value="{{ user.username }}">
  
    {{#if error.username}}
    <div class="invalid-feedback">
      {{error.username.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group d-flex flex-column align-self-center">
    <label for="email"><i class="fas fa-envelope"></i>Email</label>
    <input name="email" type="email" class="form-control {{#if error.email }}is-invalid{{/if}}" id="email"
      placeholder="Enter email" value="{{ user.email }}">
  
    {{#if error.email}}
    <div class="invalid-feedback">
      {{error.email.message}}
    </div>
    {{/if}}
  </div>

    <div class="form-group d-flex flex-column align-self-center">
    <label for="password"><i class="fas fa-lock"></i>Password</label>
    <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
      placeholder="password" value="{{ user.password }}">

    {{#if error.password}}
    <div class="invalid-feedback">
      {{error.password.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group d-flex flex-column align-self-center">
    <label for="period"><i class="fas fa-tint-slash"></i>When did you have the last period?</label>
    <input name="period" type="date" class="form-control {{#if error.lastPeriod }}is-invalid{{/if}}" id="period"
      placeholder="Last period date value">
  
    {{#if error.period}}
    <div class="invalid-feedback">
      {{error.period.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group d-flex flex-column align-self-center">
    <label for="weight"><i class="fas fa-weight"></i>Weight</label>
    <input name="weight" type="number" class="form-control {{#if error.weight }}is-invalid{{/if}}" id="weight"
      placeholder="Weight (Kg)">
  
    {{#if error.weight}}
    <div class="invalid-feedback">
      {{error.weight.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group d-flex flex-column align-self-center">
    <label for="diameter"><i class="fas fa-circle-notch"></i>Which is the diameter of your belly?</label>
    <input name="diameter" type="number" class="form-control {{#if error.bellyDiameter }}is-invalid{{/if}}" id="diameter"
      placeholder="Diameter (cm)">
  
    {{#if error.bellyDiameter}}
    <div class="invalid-feedback">
      {{error.bellyDiameter.message}}
    </div>
    {{/if}}
  </div>

  <div class="row d-flex flex-column align-self-center">
    <button type="submit" class="btn-main">
      Save changes
    </button>
  </div>
  <div class="row d-flex flex-column align-self-center">
      <a href="http://localhost:3000/home/:userid" class="btn-secondary">Home</a>
  </div>
</form>