{{!-- Navigation bar --}}

<nav class="navbar d-flex flex-row justify-content-around fixed-bottom navbar-expand-lg navbar-light bg-light mt-2">
    <div class="navbar-nav d-flex flex-row justify-content-around">
      <div class="px-4"><a class="nav-item nav-link active" href="http://localhost:3000/home/{{user._id}}"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-utensils"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="#"><i class="fas fa-calendar-day"></i></a></div>
      <div class="px-4"><a class="nav-item nav-link" href="http://localhost:3000/user/{{user._id}}/profile"><i class="fas fa-user"></i></a></div>
    </div>
  </div>
</nav>

{{!-- Main section --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <div class="row">
      <p class="ml-3 mb-4" id="jumbotron-welcome">Recipes search</p>
    </div>
  </div>
</div>

{{!-- Search input --}}

<div class="container">
  <div class="row" id="search-form">
    <form action="/user/recipe" method="GET" class="mb-3 d-flex flex-column align-self-center" autocomplete="off">  
      <div class="form-group d-flex flex-column align-self-center">
        <label for="recipeSearch"><i class="fas fa-search"></i>Search recipe</label>
        <input name="recipeSearch" type="text" class="form-control {{#if error.email }}is-invalid{{/if}}" id="foodSearch"
          placeholder="Enter food to search" value="">
        {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email}}
        </div>
        {{/if}}
      </div>
      <div class="row d-flex flex-column align-self-center">
        <button type="submit" class="btn-main">Search</button>
      </div>
    </form>
  </div>
</div>



<p class="h3">What you searched for is: {{response.[0].food.label}}</p>
{{#if recommended}}
  <p class="h5">Recommended!</p>
{{else}}
  <p class="h5">Not Recommended!</p>
{{/if}}

<div class="row d-flex flex-column align-self-center">
  <a class="btn btn-primary" href="/user/recipes" role="button">Link</a>
</div>